@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;700&display=swap');

h1,h2,h3,h4,h5{
	font-family: 'Kanit', sans-serif !important;
	font-weight: 700 !important;
}

.font-weight-300{
	font-family: 'Kanit', sans-serif !important;
	font-weight: 300 !important;
}