.bg-bet {
    background-color: #000000 !important;
}
.bg-bet-05 {
    background: rgba(0,0,0,0.8);
}

.bg-bet-red {
    background-image: linear-gradient(to right, #e52d27 0%, #b31217 51%, #e52d27 100%)
}
/*! Gold BT */

.btn-grad {
    background-image: linear-gradient(to right, #EB3349 0%, #F45C43 51%, #EB3349 100%)
}
.btn-grad {
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}
.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
.nav-item a:hover {
    color: #D32F2F !important;
    text-shadow: 0px 0px 10px #D32F2F !important;
    -moz-transition: all 0.2s ease-in !important;
    -o-transition: all 0.2s ease-in !important;
    -webkit-transition: all 0.2s ease-in !important;
    transition: all 0.2s ease-in !important;
}
.nav-item a:visited {
    text-decoration: none;
    color: #fff;
}


.fix-icon-left{
	z-index: 9999;
    position:fixed;
    bottom:20%;
    left:1%;
}

.field-icon {
    float: right;
    margin-right: 10px;
    margin-top: -40px;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.border-left-style {
    border-left: 12px solid #dd0000;
    border-radius: 0 0 0 4px;
}

.border-bottom-style {
    border-bottom: 8px solid #dd0000;
}

.btn-vv-sm {
    padding: 0 10px;
}

.btn-shadow {
    box-shadow: 2px 2px 4px #aaa;
}

.custom-profile {
    min-width: 200px;
}

.row.col-border-md.menugame > div:nth-child(7),
.row.col-border-md.menugame > div:nth-child(13),
.row.col-border-md.menugame > div:nth-child(19),
.row.col-border-md.menugame > div:nth-child(25),
.row.col-border-md.menugame > div:nth-child(31) {
    border-left: none;
}

.navbar-brand img {
    max-width: 220px;
    max-height: 100%;
}

.col-on-btn {
    padding: 0 7px;
}

.card-body-wallet {
    padding: 0.4rem 1rem;
}

.wallet-money-size {
    font-size: 2.8rem;
}

.btn-wallet {
    padding: 0.46rem 0.2rem;
    font-size: 1.0625rem;
    line-height: 1.2;
    border-radius: 0.2rem;
}

.h5-wallet {
    font-size: 1.1rem;
}